.tabList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.tab {
  padding: 8px 16px;
  margin-right: 4px;
  cursor: pointer;

  display: flex;
  pointer-events: all;
}

.li {
  background-color: #272d2f;
  border-radius: 4px 4px 0 0;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li.selected {
  background-color: rgb(85, 92, 93);
  color: white;
  border-radius: 4px 4px 0 0;
}

.li:hover {
  background-color: #999;
}

.tab:hover {
  border-radius: 4px 4px 0 0;
}

.tab.selected > .tabCloseButton {
  background-color: rgb(85, 92, 93);
}

.tab.active {
  background-color: #fff;
}

.tabCloseButton {
  background-color: #272d2f;
  color: #dfe6e9;
  border-radius: 25%;
  cursor: pointer;
  border-color: #dfe6e9;
  border-style: solid;
}

.tabCloseButton:hover {
  background-color: #999;
}

.tab.selected > .tabCloseButton:hover {
  background-color: #999;
}
