.scenarioEditor {
  height: 55%;
}

.zone_input_files {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5%;
  height: 5%;
}

.zone_input_files > img {
  width: 2%;
}

.zoneOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
