.alertContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
  padding: 2%;
  border-radius: 8px;
  margin: 1%;
}

.addScenario {
  all: unset;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 2%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: #575d5e;
  box-shadow: inset 0 1px 0 0 #575d5e;
  cursor: pointer;
  transition-duration: 200ms;
  margin: 1%;
}

.addScenario:hover {
  background-color: #6b7374;
}

.importScenario {
  all: unset;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 2%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: #575d5e;
  box-shadow: inset 0 1px 0 0 #575d5e;
  cursor: pointer;
  transition-duration: 200ms;
  margin: 1%;
}

.importScenario:hover {
  background-color: #6b7374;
}
