html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* for monaco */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
}
#dsl-canvas {
    display: block;
    margin: 8px auto;
    text-align: center;
}
#page-wrapper {
    display: flex;
    max-width: 2000px;
    margin: 4px auto;
    padding: 4px;
    min-height: 80vh;
    justify-content: center;
}
#page-wrapper .half {
    display: flex;
    width: 40vw;
}
/*
.build {
    display: block;
    margin: 8px auto;
    width: 300px;
    height: 30px;
    background: none;
    border: 2px #fff solid;
    color: #fff;
    transition: 0.3s;
    font-size: 1.2rem;
    border-radius: 4px;
}
.build:hover {
    border-color: #6cf;
    color: #6cf;
    cursor: pointer;
}
.build:active {
    color: #fff;
    border-color: #fff;
}*/
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 16px;
}
@media(max-width: 1000px) {
    #page-wrapper {
        display: block;
    }
    #page-wrapper .half {
        display: block;
        width: auto;
    }
    #dsl-canvas {
        margin-top: 32px;
    }
    #page-wrapper {
        min-height: auto;
    }
}

/* for monaco */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#monaco-editor-root {
    flex-grow: 1;
}


#myfile {
    display: block;
    margin: 10px;
}

#myfile2 {
    display: block;
    margin: 10px;
}

.build {
    all: unset;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    height: max-content;
    width: 20%;
    padding: 8px 10px 8px 12px;
    gap: 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;

}

.build:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="file"]::file-selector-button {
    /* Personnaliser le texte */
    color: white;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition-duration: 200ms;
    width: 50%;

}

input[type="file"]::file-selector-button:hover {
     /* Réutiliser les styles de survol de votre bouton */
     background-color: rgba(255, 255, 255, 0.2);
 }


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#input_files_record {
    display: block ruby;
    text-align: center;
}

#input_files_record2 {
    display: block ruby;
    text-align: center;
}