.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  margin: 1%;
  background-color: #2d3436;
}

.menu ul {
  display: flex;
  list-style: none;
  width: 100%;
}

.menu li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.menu li:last-child {
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  color: #dfe6e9;
}

.menu li:hover {
  color: #fff;
  background-color: #333;
}

.navbar-item {
  padding-right: 5%;
}
