.imageDownload {
  width: 50%;
}

figcaption {
  font-size: 70%;
}

figure {
  width: 10%;
  height: 15%;
  text-align: center;
  cursor: pointer;
}

figure > .openInNew {
  cursor: pointer;
  margin-top: 5%;
}
